@import url("../../stylesheets/cwpy_help.css");

h1 {
	background-color: #668;
	border-color: #448;
	color: #eff;
}

h2 {
	background-color: #668;
	color: #eff;
}

h3 {
	border-color: #668;
	color: #eff;
}

h4 {
	border-color: #668;
	color: #eff;
}

div.note {
	border-color: #ccc;
	background-color: #223;
	color: #ccc;
}

div.caution {
	border-color: #ccc;
	background-color: #445;
	color: #fff;
}

p.screenshot {
	border-color: #ccc;
}

img.button {
	border-color: #988;
	background-color: #eee;
}

ul.navigation {
	border-color: #ccc;
	background-color: #334;
}

a {
	color: #4f8;
}

.tip, abbr, acronym {
	border-color: #ccc;
}

body {
	border-color: #668;
	background-color: #334;
	color: #ffe;
}

dt {
	background-color: #223;
}
dd {
	border-color: #223;
}

dt.screenshot {
	background-color: #223;
	border-color: #ccc;
}

hr {
	border-color: #ccc;
}
